<a href="https://colab.research.google.com/github/worldwidekatie/Build_Week_2/blob/master/Build_Week_Two_NLP_Data_Creation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Build Week Two NLP Notebook
##Can we predict if a tweet came from Russian trolls or not purely based on writing style and keywords?

For my target dataset I am using a dataset of over 3 million Russian troll tweets from fivethirtyeight.

Dataset: [Three Million Troll Tweets](https://www.kaggle.com/fivethirtyeight/russian-troll-tweets/version/1)

Header | Definition
---|---------
`external_author_id` | An author account ID from Twitter 
`author` | The handle sending the tweet
`content` | The text of the tweet
`region` | A region classification, as [determined by Social Studio](https://help.salesforce.com/articleView?   id=000199367&type=1)
`language` | The language of the tweet
`publish_date` | The date and time the tweet was sent
`harvested_date` | The date and time the tweet was collected by Social Studio
`following` | The number of accounts the handle was following at the time of the tweet
`followers` | The number of followers the handle had at the time of the tweet
`updates` | The number of “update actions” on the account that authored the tweet, including tweets, retweets and likes
`post_type` | Indicates if the tweet was a retweet or a quote-tweet
`account_type` | Specific account theme, as coded by Linvill and Warren
`retweet` | A binary indicator of whether or not the tweet is a retweet
`account_category` | General account theme, as coded by Linvill and Warren
`new_june_2018` | A binary indicator of whether the handle was newly listed in June 2018

[Non-IRA tweets](https://www.kaggle.com/kazanova/sentiment140), accessed via a Kaggle database for sentiment analysis

Dataset citation: Go, A., Bhayani, R. and Huang, L., 2009. Twitter sentiment classification using distant supervision. CS224N Project Report, Stanford, 1(2009), p.12.

target: the polarity of the tweet (0 = negative, 2 = neutral, 4 = positive)

ids: The id of the tweet ( 2087)

date: the date of the tweet (Sat May 16 23:58:44 UTC 2009)

flag: The query (lyx). If there is no query, then this value is NO_QUERY.

user: the user that tweeted (robotickilldozr)

text: the text of the tweet (Lyx is cool)

### I'll begin by creating an IRA dataset of English-language, non-retweets

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd

CSV 1

In [7]:
ira1 = pd.read_csv('/content/drive/My Drive/IRA/IRAhandle_tweets_1.csv')

#Filter for English tweets
ira1 = ira1[ira1['language'] == 'English']

#Filter for non-retweets
ira1 = ira1[ira1['retweet']==0]

#Then exporting that as new CSVs in my drive
ira1.to_csv('ira1_cleaned.csv')
!cp ira1_cleaned.csv "drive/My Drive/"
df.shape

(196271, 15)

CSV 2

In [6]:
df = pd.read_csv('/content/drive/My Drive/IRA/IRAhandle_tweets_2.csv')

#Filter for English tweets
df = df[df['language'] == 'English']

#Filter for non-retweets
df = df[df['retweet']==0]

#Then exporting that as new CSVs in my drive
df.to_csv('ira2_cleaned.csv')
!cp ira2_cleaned.csv "drive/My Drive/"
df.shape

(196271, 15)

CSV 3

In [8]:
df = pd.read_csv('/content/drive/My Drive/IRA/IRAhandle_tweets_3.csv')

#Filter for English tweets
df = df[df['language'] == 'English']

#Filter for non-retweets
df = df[df['retweet']==0]

#Then exporting that as new CSVs in my drive
df.to_csv('ira3_cleaned.csv')
!cp ira3_cleaned.csv "drive/My Drive/"
df.shape

(204900, 15)

CSV 4

In [9]:
df = pd.read_csv('/content/drive/My Drive/IRA/IRAhandle_tweets_4.csv')

#Filter for English tweets
df = df[df['language'] == 'English']

#Filter for non-retweets
df = df[df['retweet']==0]

#Then exporting that as new CSVs in my drive
df.to_csv('ira4_cleaned.csv')
!cp ira4_cleaned.csv "drive/My Drive/"
df.shape

(113195, 15)

CSV 5

In [10]:
df = pd.read_csv('/content/drive/My Drive/IRA/IRAhandle_tweets_5.csv')

#Filter for English tweets
df = df[df['language'] == 'English']

#Filter for non-retweets
df = df[df['retweet']==0]

#Then exporting that as new CSVs in my drive
df.to_csv('ira5_cleaned.csv')
!cp ira5_cleaned.csv "drive/My Drive/"
df.shape

(75240, 15)

CSV 6

In [11]:
df = pd.read_csv('/content/drive/My Drive/IRA/IRAhandle_tweets_6.csv')

#Filter for English tweets
df = df[df['language'] == 'English']

#Filter for non-retweets
df = df[df['retweet']==0]

#Then exporting that as new CSVs in my drive
df.to_csv('ira6_cleaned.csv')
!cp ira6_cleaned.csv "drive/My Drive/"
df.shape

(126287, 15)

CSV 7

In [12]:
df = pd.read_csv('/content/drive/My Drive/IRA/IRAhandle_tweets_7.csv')

#Filter for English tweets
df = df[df['language'] == 'English']

#Filter for non-retweets
df = df[df['retweet']==0]

#Then exporting that as new CSVs in my drive
df.to_csv('ira7_cleaned.csv')
!cp ira7_cleaned.csv "drive/My Drive/"
df.shape

(180503, 15)

CSV 8

In [13]:
df = pd.read_csv('/content/drive/My Drive/IRA/IRAhandle_tweets_8.csv')

#Filter for English tweets
df = df[df['language'] == 'English']

#Filter for non-retweets
df = df[df['retweet']==0]

#Then exporting that as new CSVs in my drive
df.to_csv('ira8_cleaned.csv')
!cp ira8_cleaned.csv "drive/My Drive/"
df.shape

(219958, 15)

CSV 9

In [14]:
df = pd.read_csv('/content/drive/My Drive/IRA/IRAhandle_tweets_9.csv')

#Filter for English tweets
df = df[df['language'] == 'English']

#Filter for non-retweets
df = df[df['retweet']==0]

#Then exporting that as new CSVs in my drive
df.to_csv('ira9_cleaned.csv')
!cp ira9_cleaned.csv "drive/My Drive/"
df.shape

(2217, 15)

In [15]:
#I created a larga file with all the cleaned IRA CSVs
df1 = pd.read_csv('/content/drive/My Drive/ira1_cleaned.csv')
df2 = pd.read_csv('/content/drive/My Drive/ira2_cleaned.csv')
df3 = pd.read_csv('/content/drive/My Drive/ira3_cleaned.csv')
df4 = pd.read_csv('/content/drive/My Drive/ira4_cleaned.csv')
df5 = pd.read_csv('/content/drive/My Drive/ira5_cleaned.csv')
df6 = pd.read_csv('/content/drive/My Drive/ira6_cleaned.csv')
df7 = pd.read_csv('/content/drive/My Drive/ira7_cleaned.csv')
df8 = pd.read_csv('/content/drive/My Drive/ira8_cleaned.csv')
df9 = pd.read_csv('/content/drive/My Drive/ira9_cleaned.csv')
ira_tweets = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9])

ira_tweets.shape

(1272848, 16)

In [0]:
#And exported the final as a new csv to my drive
ira1.to_csv('ira_tweets_cleaned.csv')
!cp ira_tweets_cleaned.csv "drive/My Drive/"

In [18]:
df = ira_tweets
df.describe()

         Unnamed: 0  external_author_id  ...  new_june_2018    retweet
count  1.272848e+06        1.272848e+06  ...   1.272848e+06  1272848.0
mean   2.034664e+05        1.977919e+17  ...   1.482212e-01        0.0
std    1.089854e+05        3.656714e+17  ...   3.553192e-01        0.0
min    0.000000e+00        3.497640e+07  ...   0.000000e+00        0.0
25%    1.150650e+05        2.601236e+09  ...   0.000000e+00        0.0
50%    2.065440e+05        2.944944e+09  ...   0.000000e+00        0.0
75%    2.917790e+05        4.355797e+09  ...   0.000000e+00        0.0
max    3.972310e+05        9.812510e+17  ...   1.000000e+00        0.0

[8 rows x 8 columns]

In [19]:
df.describe(exclude='number')

         author  ... account_category
count   1272848  ...          1272848
unique     1576  ...                8
top     EXQUOTE  ...         NewsFeed
freq      53565  ...           596624

[4 rows x 8 columns]

In [24]:
test = df[df['new_june_2018']==1]
test.shape

(188663, 16)

In [0]:
#And exported the final as a new csv to my drive
test.to_csv('test_ira.csv')
!cp test_ira.csv "drive/My Drive/"

In [38]:
#I've made 15% test data and 85% training data.
188663/1272848

0.14822115445049214

In [25]:
train = df[df['new_june_2018']==0]
train.shape

(1084185, 16)

In [0]:
#And exported the final as a new csv to my drive
train.to_csv('train_ira.csv')
!cp train_ira.csv "drive/My Drive/"

# Bringing in the non-IRA tweets

In [0]:
df = pd.read_csv('/content/drive/My Drive/Disinfo Data/non_ira_tweets.csv', encoding='latin-1', 
                 names=['target', 'ids', 'date', 'flag', 'user', 'text'])

In [37]:
df.shape

(1600000, 6)

In [0]:
from sklearn.model_selection import train_test_split
non_ira_train, non_ira_test = train_test_split(df, test_size=0.15, random_state=42)

In [43]:
#And exported the final as a new csv to my drive
non_ira_train.to_csv('non_ira_train.csv')
!cp non_ira_train.csv "drive/My Drive/"
non_ira_train.shape

(1360000, 6)

In [44]:
non_ira_test.to_csv('non_ira_test.csv')
!cp non_ira_test.csv "drive/My Drive/"
non_ira_test.shape

(240000, 6)

#Creating my final dataframes for train

In [64]:
train1 = pd.DataFrame(train['content'])
train1

                                                 content
0      "We have a sitting Democrat US Senator on tria...
1      Marshawn Lynch arrives to game in anti-Trump s...
2      JUST IN: President Trump dedicates Presidents ...
3      Dan Bongino: "Nobody trolls liberals better th...
4      '@SenatorMenendez @CarmenYulinCruz Doesn't mat...
...                                                  ...
2213   .the main thing is to was love https://t.co/oq...
2214   Amazing! Found my script: Download ReBuild - W...
2215              Present Perfect http://t.co/vNu3i2Xh4M
2216            GoPro SummerStory http://t.co/2afDrn7jWh
label           0
0        1
1        1
2        1
3 ...

[1084186 rows x 1 columns]

In [66]:
train1['label'] = [1] * len(train1)
train1

                                                 content  label
0      "We have a sitting Democrat US Senator on tria...      1
1      Marshawn Lynch arrives to game in anti-Trump s...      1
2      JUST IN: President Trump dedicates Presidents ...      1
3      Dan Bongino: "Nobody trolls liberals better th...      1
4      '@SenatorMenendez @CarmenYulinCruz Doesn't mat...      1
...                                                  ...    ...
2213   .the main thing is to was love https://t.co/oq...      1
2214   Amazing! Found my script: Download ReBuild - W...      1
2215              Present Perfect http://t.co/vNu3i2Xh4M      1
2216            GoPro SummerStory http://t.co/2afDrn7jWh      1
label           0
0        1
1        1
2        1
3 ...      1

[1084186 rows x 2 columns]

In [67]:
train1.drop(train1.tail(1).index,inplace=True)
train1

                                                content  label
0     "We have a sitting Democrat US Senator on tria...      1
1     Marshawn Lynch arrives to game in anti-Trump s...      1
2     JUST IN: President Trump dedicates Presidents ...      1
3     Dan Bongino: "Nobody trolls liberals better th...      1
4     '@SenatorMenendez @CarmenYulinCruz Doesn't mat...      1
...                                                 ...    ...
2212  Like me. Share me. Follow me http://t.co/VvhUO...      1
2213  .the main thing is to was love https://t.co/oq...      1
2214  Amazing! Found my script: Download ReBuild - W...      1
2215             Present Perfect http://t.co/vNu3i2Xh4M      1
2216           GoPro SummerStory http://t.co/2afDrn7jWh      1

[1084185 rows x 2 columns]

In [71]:
train2 = pd.DataFrame(non_ira_train['text'])
train2 = train2.rename(columns = {"text":"content"}) 
train2

                                                   content
159064   just finished work, off to shops for groceries...
885228   @icewulf You're right!  It is the responsible ...
241081   Drinking coffee at Crow's Nest w @oneofthemism...
982255          @tommcfly You're welcome ; ) It's awesome
1374551  @bgrundy btw watching in hd mode on a large-is...
...                                                    ...
259178   this song's middle change just doesn't want to...
1414414               @officialnjonas Good luck with that
131932            @ProudGamerTweet I rather average 32370
671155   Pickin up @misstinayao waitin on @sadittysash ...
121958   @ home studying for maths wooot ! im so going ...

[1360000 rows x 1 columns]

In [72]:
train2['label'] = [0] * len(train2)
train2

                                                   content  label
159064   just finished work, off to shops for groceries...      0
885228   @icewulf You're right!  It is the responsible ...      0
241081   Drinking coffee at Crow's Nest w @oneofthemism...      0
982255          @tommcfly You're welcome ; ) It's awesome       0
1374551  @bgrundy btw watching in hd mode on a large-is...      0
...                                                    ...    ...
259178   this song's middle change just doesn't want to...      0
1414414               @officialnjonas Good luck with that       0
131932            @ProudGamerTweet I rather average 32370       0
671155   Pickin up @misstinayao waitin on @sadittysash ...      0
121958   @ home studying for maths wooot ! im so going ...      0

[1360000 rows x 2 columns]

In [75]:
train_df = pd.concat([train1, train2])
train_df.shape

(2444185, 2)

In [76]:
train_df

                                                   content  label
0        "We have a sitting Democrat US Senator on tria...      1
1        Marshawn Lynch arrives to game in anti-Trump s...      1
2        JUST IN: President Trump dedicates Presidents ...      1
3        Dan Bongino: "Nobody trolls liberals better th...      1
4        '@SenatorMenendez @CarmenYulinCruz Doesn't mat...      1
...                                                    ...    ...
259178   this song's middle change just doesn't want to...      0
1414414               @officialnjonas Good luck with that       0
131932            @ProudGamerTweet I rather average 32370       0
671155   Pickin up @misstinayao waitin on @sadittysash ...      0
121958   @ home studying for maths wooot ! im so going ...      0

[2444185 rows x 2 columns]

In [0]:
train_df.to_csv('train_df.csv')
!cp train_df.csv "drive/My Drive/"

# Making my final test set

In [78]:
test1 = pd.DataFrame(test['content'])
test1['label'] = [1] * len(test1)
test1

                                                content  label
293   U don't like Carson - u r racist, U don't like...      1
294   Some idiotic show on MTV would be more informa...      1
295   God is not a franchise of the Republican Party...      1
296   #Cruz is the worst candidate for our country #...      1
297   Whatever happened to #Bush? Where’s he hiding?...      1
...                                                 ...    ...
1287         My man treats me as a Princess. My Prince!      1
1288  My guy loves me because he looks at me when it...      1
1289    Obviously I’ll spent my life among cats not men      1
1290       https://t.co/wBdMLCSyAT he is just young *))      1
1291  #GoodWillHunting #ProfGeraldLambeau: Most days...      1

[188663 rows x 2 columns]

In [79]:
test2 = pd.DataFrame(non_ira_test['text'])
test2 = test2.rename(columns = {"text":"content"}) 
test2

                                                   content
541200              @chrishasboobs AHHH I HOPE YOUR OK!!!
750      @misstoriblack cool , i have no tweet apps  fo...
766711   @TiannaChaos i know  just family drama. its la...
285055   School email won't open  and I have geography ...
705995                              upper airways problem
...                                                    ...
1392448  says went Bukit Jambul n Queensbay  http://plu...
1339201  @grshane I do have a beach cruiser! The farthe...
1197998                          @KrystinNotRated me too!
125362   @Audio_Rush Just finished browsing at her cont...
783931                                I need a holiday...

[240000 rows x 1 columns]

In [80]:
test2['label'] = [0] * len(test2)
test2

                                                   content  label
541200              @chrishasboobs AHHH I HOPE YOUR OK!!!       0
750      @misstoriblack cool , i have no tweet apps  fo...      0
766711   @TiannaChaos i know  just family drama. its la...      0
285055   School email won't open  and I have geography ...      0
705995                              upper airways problem       0
...                                                    ...    ...
1392448  says went Bukit Jambul n Queensbay  http://plu...      0
1339201  @grshane I do have a beach cruiser! The farthe...      0
1197998                          @KrystinNotRated me too!       0
125362   @Audio_Rush Just finished browsing at her cont...      0
783931                                I need a holiday...       0

[240000 rows x 2 columns]

In [81]:
test_df = pd.concat([test1, test2])
test_df.shape

(428663, 2)

In [0]:
test_df.to_csv('test_df.csv')
!cp test_df.csv "drive/My Drive/"